@page "/Estudiantes"
@page "/Estudiantes/{EstudianteId:int}"

@inject Blazored.Toast.Services.IToastService toast

<EditForm Model="Estudiantes" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header">
            <h3>Registro de Estudiantes</h3>
        </div>
        <div class="card-body">
            <form>
                @*EstudianteId*@
                <div class="form-row align-items-center">
                    <div class="col">
                        <div class="form-group">
                            <label>EstudianteId</label>
                            <div class="input-group">
                                <InputNumber @bind-Value="Estudiantes.EstudianteId" class="form-control col-4" />
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-primary input-group-text" @onclick="Buscar">Buscar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*Nombres*@
                <div class="form-group">
                    <label>Nombres</label>
                    <InputText @bind-Value="Estudiantes.Nombres" class="form-control" />
                    <ValidationMessage For="@(() => Estudiantes.Nombres)" />
                </div>

                @*Semestre*@
                <div class="form-group">
                    <label>Semestre</label>
                    <InputNumber @bind-Value="Estudiantes.Semestre"
                                 class="form-control" />
                    <ValidationMessage For="@(() => Estudiantes.Semestre)" />
                </div>
                    </form>    
                </div>
                <div class="card-footer">
                    <div class="form-group text-center" display: inline-block>
                    <button type="button" class="btn btn-lg btn-primary" @onclick="Nuevo">Nuevo</button>
                    <button type="submit" class="btn btn-lg btn-success">Guardar</button>
                    <button type="button" class="btn btn-lg btn-danger" @onclick="Eliminar">Eliminar</button>
                </div>
            </div>
        </div>
    </EditForm>

    
@code {
    [Parameter]
    public int EstudianteId { get; set; }
    private Estudiantes Estudiantes = new Estudiantes();
    protected override void OnInitialized()
    {
        Nuevo();

        Buscar();
    }

    public void Nuevo()
    {
        Estudiantes = new Estudiantes();
    }

    private void Buscar()
    {
        if (Estudiantes.EstudianteId > 0)
        {
            var encontrado = Ejercicio1_2020_03.BLL.EstudiantesBLL.Buscar(Estudiantes.EstudianteId);

            if (encontrado != null)
                this.Estudiantes = encontrado;
            else
                toast.ShowWarning("No encontrado");
        }
    }

    public void Guardar()
    {
        bool guardo;
        guardo = Ejercicio1_2020_03.BLL.EstudiantesBLL.Guardar(Estudiantes);

        if (guardo)
        {
            Nuevo();
            toast.ShowSuccess("Guardado correctamente");
        }
        else
            toast.ShowError("No fue posible guardar");
    }

    public void Eliminar()
    {
        bool elimino;

        elimino = Ejercicio1_2020_03.BLL.EstudiantesBLL.Eliminar(Estudiantes.EstudianteId);

        if (elimino)
        {
            Nuevo();
            toast.ShowSuccess("Eliminado correctamente");
        }
        else
            toast.ShowError("No fue posible eliminar");
    }


}